/* .header{
    background-image: url(/bghead.png);

}


.mainheader{
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
}
.nav ul{
    list-style: none;
}

a{
    text-decoration: none;
     color: black;
     margin: 10px;
     /* font-style:monsterrat; */
     justify-content: space-between;
} */


